<a href="https://colab.research.google.com/github/gothboifricc/portfolio/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [2]:
qualified_jobs = []
for job in job_roles:
    qualified = True
    for skill in my_skills:
      if skill not in job['skills']:
        qualified = False
        break
    if qualified:
      qualified_jobs.append(job)
print(qualified_jobs)

[{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}, {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}]

In [3]:
#diff between lambda fnctns and def fnctns using list comps.
sal_list = [100000, 200000, 150000, 120000, 80000, 750000]
def salary_calculator(base_salary, bonus = .1):
  total_salary = base_salary * (1 + bonus)
  return int(total_salary)

total_sal_list = [salary_calculator(salary) for salary in sal_list]
print(total_sal_list)
total_sal_list_lambda = [(lambda x: int(x * 1.1))(salary) for salary in sal_list]
print(total_sal_list_lambda)

[110000, 220000, 165000, 132000, 88000, 825000]
[110000, 220000, 165000, 132000, 88000, 825000]

In [4]:
#find jobs that have python and are remote (uses built-in fnctn filter())
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]
list(filter((lambda job:job['remote'] and 'Python' in job['job_skills']), jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]

In [11]:
from my_module import *
bonus_calculator(15000, 10000)

0.5